# Dependencias
node_modules/

# Cache y temporales de Vite
.vite/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor (Opcional pero recomendado)
.vscode/
.idea/
.DS_Store